<div>
    <nav>
        <a href="/admin">Admin Home</a>
        <a href="/admin/profile/update">Profile</a>
        <a href="/admin/files/uploads">Upload File</a>
        <a href="/admin/files/view/">View Files</a>
        <a href="/admin/articles/create/">Create Article</a>
        <a href="/admin/password/change">Change password</a>
        <a href="/admin/logout">Log out</a>
    </nav>
</div>