<div id="banner">
    <div class="boxes">
        <b>Trezor Model T</b>
        <div>
            <img src="/img/trezor.jpg" alt="trezor">
            <a href="amazon.com">Get</a>
            <p>
                commodo consequat. Duis aute irure dolor in reprehenderit 
                in voluptate velit esse cillum dolore eu fugiat nulla 
                pariatur. Excepteur sint occaecat cupidatat non proident
            </p>
        </div>
    </div>
    <div class="boxes">
        <b>Ledger Nano X</b>
        <div>
            <img src="/img/ledgerXNano.jpg" alt="">
            <a href="">Get</a>
            <p>
                Lorem Ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim ad minim veniam, quis nostrud 
            </p>
        </div>
    </div>
</div>