<div class="footer">
   <div>
      <form action="">
         <h4>
            Hi, lets keep in touch.
         </h4>
         <p>Register for our newsletter, so you can know of 
            intressting articles like this.</p>
         <input type="email" name="news-email" id="news-email"
         placeholder="Enter your email">
         <button>Register</button>
      </form>
      <b>
        &copy; The Buzz Journal 2022.
      </b>
      The website uses cookies. 
      By entering the website you agree for their use.
   </div>
</div>
</body>
</html>