<div class="menu">
    <div class="head">
        <img src="/img/buzz.png" alt="the_buzz_journal_logo">
    </div>
    <div class="sub">
        <a href="/">
            <h2>The Buzz Journal</h2>
        </a>
        <form action="" class="search">
            <input type="search" name="search" 
            placeholder="Search The Buzz Journal" id="search">
            <input type="button" value="search">
        </form>
    </div>
</div>