<div class="squre">
    <h2>A Glance</h2>
    <div>
        <div>
            <p>
                [current state]: 
                <br>
                What purpose does The Buzz Journal serve in a 
                world when information is readily available 
                from a variety of sources? We think the notion 
                of the duty to accurately report the news is 
                the key to the existence of The Buzz Journal.
                <br><br>
                [our future]:
                <br>
                The Buzz Journal has taken on the responsibility 
                of being just in the report of truth because we 
                are aware that in order to stand out in a fast-paced 
                world, one must hang on to justice. As time progresses 
                all the changes undertaken by The Buzz Journal will be 
                to ensure that we are just in the pursuant of our cause, 
                humbly we greet the strangers:
                <h4>
                    “
                </h4>
                We hurry to stand at our watchpost.
                <br>
                Truth and justice, they lead the way.
                <br>
                Farewell Most Excellent Comrade!
                <h4>
                    ”
                </h4>
            </p>
        </div>  
    </div>
</div>