<%- include('../partials/head.ejs') %>

    <div class="app">
        <div class="admin">
            <form action="">
                <div>
                    <label for="name">Article Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label for="name">Article Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label for="name">Description</label>
                    <textarea type="text" name="name" id="name">
                    </textarea>
                </div>
            </form>
        </div>
    </div>

<%- include('../partials/foot.ejs') %>