<%- include('../partials/head.ejs') %>

    <div class="app">
        <%- include('../partials/menu.ejs') %>
        <div class="blog">
            <div class="Head">
                <h2>
                    These are the best GPU's to choose from
                </h2>
                <b>Created:</b><i>6 December, 2022</i>
            </div>
            <div class="Body">
                <img src="/img/phones.png" alt="phones_collage">
                <p>
                    Should you buy one, and which are the most secured ones available today? 
                    Let's find out below. Blockchain technology has exploded in popularity 
                    over the past several years across a wide range of sectors. Blockchain 
                    apps have since been brought to the smartphone industry and have the 
                    capacity to safely and transparently store data.
                </p>
                <br>
                <!--
                    Pixel 7
                -->
                <div>
                    <h3>
                        AMD Radeon RX 6700 XT
                    </h3>
                    <p>
                        <b>Starting price: <i>$599</i></b>
                    </p>
                    <img src="/img/pixel7.webp" alt="Pixel 7">
                    <ul>
                        bSPECIFICATIONS
                        Hashrate: 47MH/sVRAM: 12GB GDDR6TDP: 230WPower input: 1x 8-pin PCIe, 1x 6-pin PCIe
                        TODAY'S BEST DEALS
                        REASONS TO BUY
                        +47MH/s hashrate
                        +Good value
                        +230W TDP
                        +1x 8-pin, 1x 6-pin power
                        REASONS TO AVOID
                        -Not the fastest GPU
                        -Gets hot
                        -Not the most efficient
                    </ul>
                    <div>
                        <li>
                            <a href="https://amzn.to/3UvVAQB" target="_blank">Buy Pixel 7 on Amazon</a>
                        </li>
                        <li>
                            <a href="https://amzn.to/3FvQRKI" target="_blank">Buy Pixel 7 Pro on Amazon</a>
                        </li>
                    </div>
                </div>
                <br><br>
                <!--
                    Samsung
                -->
                <div>
                    <h3>Galaxy Flip 4</h3>
                    <p>
                        <b>Starting price: <i>$850</i></b>
                    </p>
                    <p>
                        Samsung’s phone has some undeniably useful features for crypto owners, 
                        starting with its built-in Knox security that can manage and store the 
                        user's private details in an ultra-secure way. The galaxy flip 4 phone 
                        uses the Snapdragon 8+ Gen 1 chip. It also sports 8GB of RAM, up to 512GB 
                        of storage, and a 12MP rear/10MP front camera. Some folks out there might 
                        say the galaxy flip 4 is more of an experiment of sorts, but we believe 
                        it to be a bold move and the flashiest phone right now in the market.
                    </p>
                    <table>
                        <tr>
                            <td>
                                Foldable design
                            </td>
                            <td>
                                Battery barely gets through a day
                            </td>
                        </tr>
                        <tr>
                            <td>
                                High refresh-rate screen looks good
                            </td>
                        </tr>
                    </table>
                    <img src="/img/flip4.webp" alt="safepal">
                    <div>
                        <li>
                            <a href="https://amzn.to/3uqNn5R" target="_blank">
                                Buy Galaxy Flip 4 on Amazon
                            </a>
                        </li>
                    </div>
                </div>
                <br><br>
                <!--
                    Asus
                -->
                <div>
                    <h3>Asus ZenPhone 9</h3>
                    <p>
                        <b>Starting price: <i>$685</i></b>
                    </p>
                    <p>
                        Even though it doesn't have the flashy appearance of a lot of devices 
                        on the list, this small bundle is packed with features. It all begins 
                        with its tiny 5.9-inch dimension with an AMOLED display, sharp and 
                        vivid screen. A High 120 Hz refresh rate, which makes every swipe and 
                        scroll feel fluid.
                    </p>
                    <img src="/img/download.png" alt="ZenPhone 9">
                    <i class="ic">ZenPhone 9</i>
                    <table>
                        <tr>
                            <td>
                                Small and simple to use with just one hand
                            </td>
                            <td>
                                Two years' worth of updates
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Long-lasting battery for a small phone.
                            </td>
                        </tr>
                    </table>
                    <div>
                        <li>
                            <a href="https://amzn.to/3F9REPM" target="_blank">
                                Buy Asus ZenPhone 9 on Amazon
                            </a>
                        </li>
                    </div>
                </div>
                <!--
                    Apple
                -->
                <br><br>
                <div>
                    <h3>Iphone</h3>
                    <p>
                        <b>Starting price: <i>$999</i></b>
                    </p>
                    <img src="/img/iphone14.jpg" alt="iPhone 14 Pro Max">
                    <i class="ic">iPhone 14 Pro Max</i>
                    <p>
                        Apple is more restrictive about allowing apps into their app store, 
                        so that might cause android to almost always hangout with the cool 
                        kids on the block first. But once an app is on the iOS App Store 
                        there’s this sense of security to it. Overall the Iphone has it all, 
                        Excellent Screens, Excellent Battery, Best Processor in the Market! 
                    </p>
                    <table>
                        <tr>
                            <td>
                                Premium high refresh-rate screen
                            </td>
                            <td>
                                Premium Price
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Long-lasting battery
                            </td>
                        </tr>
                    </table>
                    <div>
                        <li>
                            <a href="https://amzn.to/3urrMtN" target="_blank">
                                Buy iPhone 13 Pro Max on Amazon
                            </a>
                        </li>
                        <li>
                            <a href="https://amzn.to/3P4MtW4" target="_blank">
                                Buy iPhone 13 on Amazon
                            </a>
                        </li>
                    </div>
                </div>
                <br><br>
                <p>
                    While being somewhat of a niche item, crypto wallets on smartphones have a 
                    great deal of potential. The pairing of smartphone usefulness and private 
                    key storage may become more typical in the near future as we continue to 
                    combine various technologies for a more convenient lifestyle. 
                </p>
            </div>
        </div>
    </div>

<%- include('../partials/foot.ejs') %>