<%- include('../partials/head.ejs') %>

    <div class="app">
        <%- include('../partials/menu.ejs') %>
        <%- include('../partials/commission.ejs') %>
        <div class="blog">
            <div class="Head">
                <h2>Messi’s fourth time, is this his Buhari moment?</h2>
                <b>Author:</b><i>Aiyegbayo Bolaji</i>
                <br>
                <b>Created:</b><i>14 December, 2022</i>
            </div>
            <div class="Body">
                <img src="/img/buhari.jpg" alt="wallet_collage">
                <p>
                    As we all know, president Muhammadu Buhari ran for the office of the 
                    president three consecutive times. Three times also he was disappointed  
                    before successfully winning the votes of the electorate the fourth
                     time. Three times also has Lionel Messi arrived at the world cup 
                     final and three times also has Lionel Messi been disappointedly sent 
                     back. So come Sunday 19 December 2022, Messi’s fourth time, is this 
                     his Buhari moment?
                </p>
                <img src="/img/messi.jpg" alt="wallet_collage">
                <p>
                    If you are interested in football, one common question is who do you 
                    think is a better player: Lionel Messi or Christiano Ronaldo? I will 
                    be honest, I can’t seem to tell. But as there are fans, so are 
                    arguments supporting either. But one thing all these arguments 
                    couldn’t tender was a World Cup Title to either Christiano Ronaldo 
                    or Lionel Messi.
                    Does this all change on Sunday, one thing is for sure if it ends up 
                    being Messi’s Buhari Moment on Sunday, I for one will have to hereafter 
                    answer the earlier stated question as, His most excellent Lionel Messi 
                    of course.
                </p>
                <img src="/img/maximus.webp" alt="wallet_collage">
                <p>
                    I for one am eager to see Lionel Messi, pull a Maximus on Sunday, 
                    "Are You Not Entertained? Are You Not Entertained? Is This Not 
                    Why You Are Here?" I think it will be worth it to see the look 
                    when that argument comes up and we state the fact that Lionel Messi 
                    had his Buhari Moment. O I'm eager to see Lionel Messi pull a 
                    Maximus on Sunday, O I’m eager to see the response the Stadium will 
                    have for him if he pulls his Buhari Moment. I for one would have 
                    found peace, O come Sunday is this his Buhari moment?
                </p>
                <br>
            </div>
        </div>
    </div>

<%- include('../partials/foot.ejs') %>